<table border=1 style="border: solid 1px; ">
    <tr>
        <th>Type</th>
        <th>Sales Start</th>
        <th>Sales End</th>
        <th>Quantity</th>
        <th>&nbsp;</th>
    </tr>
    {% for group in ticket_groups %}
    <tr>
        <form method="POST" action="{% url start_ticket_registration %}">
        <input type="hidden" name="group_id" value="{{group.id}}" />
        <td>{{group.name}}</td>
        <td>{{group.start_date|date}}</td>
        <td>{{group.end_date|date}}</td>
        <td>
            <select type="option" name="num_tickets">
            {% for n in group.get_quantity_options %}
                <option value="{{n}}">{{n}}</option>
            {% endfor %}
            </select>
        </td>
        <td>
            {% if group.registration_open and group.seats_left %}
            <input type="submit" value="Get Tickets">
            {% else %}
            <strong>Closed</strong>
            {% endif %}
        </td>
        </form>
    </tr>
    {% endfor %}
</table>
